extends base
include mixins/video

block headerExtras
    nav
        ul
            li
                a(href="/videos/upload") Upload Video

block content
    h1 Welcom here you will see the trending videos
    each video in videos
        +video(video)
    else
        h1 No videos found