extends base
include mixins/video

block content
    form(method="GET", action="/search")
        input(name="keyword", placeholder="Search by title", value=keyword, required)
        input(type="submit", value="Search")

        each video in videos
            +video(video)
        else
            p No videos found.
