extends base
include mixins/video

block content
  section.search__header
    span.search__eyebrow Search
    if keyword
      h1 Results for "#{keyword}"
      p #{videos.length} #{videos.length === 1 ? "video" : "videos"} found
    else
      h1 Find your next video
      p Search by title
  form.search__form(method="GET", action="/search")
    input(name="keyword", type="text", placeholder="Search by title", value=keyword)
    button(type="submit")
      i.fas.fa-search

  div.video-grid
    each video in videos
      +video(video)
    else
      div.empty__message
        i.far.fa-folder-open
        span No videos found.
