extends base.pug

block content
    div.upload__container
        div.upload__video
            div.upload__preview
                video#preview(muted, playsinline)
                div#recIndicator.upload__rec
                    span.upload__rec-dot
                    span.upload__rec-label REC
            div.upload__actions
                button#startBtn.social__btn(type="button") Start Recording
                button#downloadVideoBtn.social__btn(type="button", hidden) Download Video
                button#downloadThumbnailBtn.social__btn(type="button", hidden) Download Thumbnail
    if errorMessage
        span=errorMessage
    //- action is the URL that the form will be submitted to and default is the current URL
    //- enctype is the encoding type of the form data
    form(method="POST", enctype="multipart/form-data")
        label(for="video") Video
        input(name="video", type="file", accept="video/*", required, id="video")
        label(for="thumbnail") Thumbnail
        input(name="thumbnail", type="file", accept="image/*", required, id="thumbnail")
        input(name="title", placeholder="Title", required, type="text", maxlength=80)
        input(name="description", placeholder="Description", required, type="text", minlength=5)
        input(name="hashtags", placeholder="Hashtags, separated by comma.", required, type="text")
        input(type="submit", value="Upload Video")

block scripts
    script(src="/assets/js/recorder.js")