extends base

block content
    - const viewCount = video.meta && video.meta.views != null ? video.meta.views : 0
    h3 #{viewCount} #{viewCount === 1 ? "view" : "views"}
    a(href=`/videos/${video._id}/edit`) Edit Video &rarr;
