header.site-header
    a(href="/").header__brand(aria-label="Wetube home")
        img.header__logo(src="/assets/img/logo.png", alt="Wetube")
        span Wetube
    nav.header__nav(aria-label="Primary navigation")
        ul
            if !loggedIn
                li
                    a.header__link.header__link--primary(href="/join") Join
                li
                    a.header__link(href="/login") Login
            else
                li
                    a.header__link.header__link--primary(href="/videos/upload") Upload
                li 
                    a.header__profile(href=`/users/${user._id}`, aria-label="Profile")
                        if !user.avatarUrl
                            span.header__avatar-fallback= user.name ? user.name.charAt(0).toUpperCase() : "U"
                        else
                            img.header__avatar(src=user.avatarUrl, alt=user.name)
                li 
                    a.header__link(href="/users/edit") Profile
                li 
                    a.header__link(href="/users/logout") Logout
            li
                a.header__link(href="/search") Search
