header
    a(href="/")
        i.fab.fa-youtube
    nav
        ul
            if !loggedIn
                li
                    a(href="/join") Join
                li
                    a(href="/login") Login
            else
                li
                    a(href="/videos/upload") Upload Video
                li 
                    a(href=`/users/${user._id}`) #{user.name}'s Profile
                li 
                    a(href="/users/edit") Edit Profile
                li 
                    a(href="/users/logout") Logout
            li
                a(href="/search") Search